h1{
    text-align: center;
    background-color: aqua;
    margin: 0;
}
h2{
    text-align: center;
    color: hotpink;
}
h3{
    color: blueviolet;
    text-align: center;
}
.container{
    width: fit-content;
   
    padding: 5px;
    text-align: center;
    margin:0px 100px 0px 100px;
   

}
#background{
    width: fit-content;
}
ol{
list-style-position: inside;
background-color: cyan;
text-align: left;
border: 5px dotted black;
}
.members{
    font-family: Georgia;
}
